In [ ]:
Introduction to python fundamentals

In [ ]:
understanding the variables in python :

In [1]:
a = 3

b = 2

In [2]:
c = a+b

print(c)

5

In [ ]:
# shift + enter button on the keyboard

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule No 1 : No Namespaces for declaring the variable names.

In [3]:
first name = "Faiyaz"

print(first name)

SyntaxError: invalid syntax (4051653174.py, line 1)

In [4]:
firstname = "Faiyaz"

print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A variable name should not start with  number **

In [5]:
1name = "David"

print(1name)

SyntaxError: invalid decimal literal (2603295238.py, line 1)

In [6]:
name1 = "David"

print(name1)

David

In [ ]:
# shift + enter

In [ ]:
Rule No 3 : A variable name should not contain any special characters

In [7]:
name@ = "ganesh"

print(name@)

SyntaxError: invalid syntax (3938931654.py, line 1)

In [ ]:
@ # ! $ % & *=======>

In [ ]:
introduction to datatypes in python :

In [ ]:
1. strings ======> str

2. Numbers ====> integers --- int , floats( decimals) ----> 0.1, 0.2,0.3

3. lists ----> list

4. tuples ----> tuple

5. Dictionaries -----> dict

In [ ]:
classification of datatypes :

Broadly datatypes are classified in to two catgeories 

1. mutable datatypes -----> which we can be able to edit/ alter
2. immutable datatypes ----> which we cannot be able to edit / alter

In [ ]:
introduction to string datatype :

In [ ]:
defination : A string is a series of characters declared in quotes.

classification : it is classified as an immutable datatype

how to declare the string =====?

1. single quote

2. double quote

In [8]:
name = 'muskaan'   # single quote

print(name)

muskaan

In [9]:
name2 = "dinesh" # double quote

print(name2)

dinesh